async-lru==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.7
docopt==0.6.2
greenlet==1.1.2
idna==3.3
irc3==1.1.7
jieba==0.42.1
pyaes==1.6.1
Pyrogram @ git+https://github.com/pyrogram/pyrogram.git@aba5304fd69d913176b80b818b9c334775036c62
PySocks==1.7.1
python-dotenv==0.19.1
requests==2.26.0
SQLAlchemy==1.4.26
TgCrypto==1.2.2
urllib3==1.26.7
venusian==3.0.0
